Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

rustfmt:
  name: rustfmt (changed files)
  entry: bash -lc 'rustfmt --edition 2024 "$@"'
  language: system

clippy:
  name: clippy (workspace)
  entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

Test pre-commit
  .pre-commit-config.yaml
  crates/agentpm-cli/src/config.rs
  crates/agentpm-cli/src/prelude.rs
Due: rustfmt, clippy

Add manifest schema
  crates/agentpm-cli/assets/templates/agent.json.tpl
  crates/agentpm-cli/assets/templates/tool_agent.json.tpl
  schemas/agentpm.manifest.schema.json
Due: none

update
  crates/agentpm-cli/assets/templates/agent.json.tpl
  crates/agentpm-cli/assets/templates/tool_agent.json.tpl
  schemas/agentpm.manifest.schema.json
Due: none

Lint Command
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/lint.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/util/mod.rs
  crates/agentpm-cli/src/util/schema_io.rs
Due: rustfmt, clippy

Updated README
  README.md
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/lint.rs
Due: rustfmt, clippy

Updated README
  crates/agentpm-cli/src/commands/lint.rs
Due: rustfmt, clippy

Update
  README.md
Due: none

Adds release gh action
  .github/workflows/release.yml
Due: none

Verify tag matches CLI crate version
  .github/workflows/release.yml
Due: none

Add contents write permission to release job
  .github/workflows/release.yml
Due: none

Add install-latest.sh script
  scripts/install-latest.sh
Due: none

Update README for better command copying
  README.md
Due: none

Update README
  README.md
Due: none

Add Generate Homebrew formula to release.yml
  .github/workflows/release.yml
Due: none

Fix
  .github/workflows/release.yml
Due: none

Fix Create PR in tap repo Step
  .github/workflows/release.yml
Due: none

Added Homebrew installation option to readme
  README.md
Due: none

More README updates
  README.md
Due: none

Add windows asset generation in release.yml
  .github/workflows/release.yml
Due: none

Update version
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Force verify step to bash shell
  .github/workflows/release.yml
Due: none

Added publish-scoop job to release.yml
  .github/workflows/release.yml
Due: none

Update name
  .github/workflows/release.yml
Due: none

Add Scoop details to installation section of README
  README.md
Due: none

Add some readme badges
  README.md
Due: none

agent.json schema updates
  crates/agentpm-cli/assets/templates/tool_agent.json.tpl
  schemas/agentpm.manifest.schema.json
Due: none

Add schemas README
  schemas/README.md
Due: none

Update base README
  README.md
Due: none

Start of Publish Command Implementation
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/lint.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/manifest.rs
  crates/agentpm-cli/src/util/mod.rs
  crates/agentpm-cli/src/util/schema_io.rs
Due: rustfmt, clippy

Finish up publish command (on cli side)
  Cargo.lock
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-sdk/Cargo.toml
  crates/agentpm-sdk/src/client.rs
  crates/agentpm-sdk/src/types.rs
Due: rustfmt, clippy

More feedback from the pubilsh command
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/ui.rs
Due: rustfmt, clippy

Update
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Updates to work wiht localhost
  Cargo.lock
  crates/agentpm-sdk/Cargo.toml
  crates/agentpm-sdk/src/client.rs
Due: rustfmt, clippy

Fix
  crates/agentpm-sdk/src/client.rs
Due: rustfmt, clippy

Start init + finalize flow
  crates/agentpm-sdk/src/client.rs
  crates/agentpm-sdk/src/error.rs
  crates/agentpm-sdk/src/types.rs
Due: rustfmt, clippy

Updates
  crates/agentpm-sdk/src/client.rs
Due: rustfmt, clippy

Better error feedback
  crates/agentpm-sdk/src/client.rs
  crates/agentpm-sdk/src/error.rs
Due: rustfmt, clippy

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.(rs|toml)$
