Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

rustfmt:
  name: rustfmt (changed files)
  entry: bash -lc 'rustfmt --edition 2024 "$@"'
  language: system

clippy:
  name: clippy (workspace)
  entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

Update tasks
  specs/2026-08-09-loops-agent-bindings/tasks.md
Due: none

Blog Brief
  specs/2026-08-09-loops-agent-bindings/blog-brief.md
Due: none

Initial spec files
  specs/2026-08-20-harness/review-checklist.md
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
  specs/2026-08-20-harness/test-plan.md
Due: none

Spec and tasks take-two
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: none

Initial spec files take-three
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: none

More initial file updates
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: none

Spec and task finalization
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: none

TUI tasks update
  specs/2026-08-20-harness/tasks.md
Due: none

Tasks updates
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 1
  crates/agentpm-cli/src/commands/memory.rs
  crates/agentpm-cli/src/harness_config.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/manifest.rs
  schemas/README.md
  schemas/agentpm.harness.schema.json
  schemas/agentpm.manifest.schema.json
  specs/2026-08-09-loops-agent-bindings/review-checklist.md
  specs/2026-08-09-loops-agent-bindings/spec.md
  specs/2026-08-09-loops-agent-bindings/tasks.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 2
  README.md
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/harness_config.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/main.rs
Due: rustfmt, clippy

Post manual testing fixes
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_plan.rs
Due: rustfmt, clippy

Release Band 1
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-sdk/Cargo.toml
Due: clippy

Milestone 3
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/main.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Update tasks
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 4
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/action.rs
  crates/agentpm-cli/src/harness_runtime/approval.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/main.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 5
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
Due: rustfmt, clippy

Post manual-testing fixes
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_observability.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

More post manual-testing updates
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

More post manual-testing updates
  crates/agentpm-cli/src/harness_observability.rs
Due: rustfmt, clippy

Milestone 6
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  crates/agentpm-cli/src/manifest.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing fixes
  crates/agentpm-cli/src/harness_plan.rs
Due: rustfmt, clippy

Release Band 2
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Milestone 7
  crates/agentpm-cli/src/commands/run.rs
  crates/agentpm-cli/src/commands/serve.rs
  crates/agentpm-cli/src/runner.rs
  crates/agentpm-cli/tests/run_machine.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 8
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/action.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  crates/agentpm-cli/src/harness_runtime/tool.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/runner.rs
  crates/agentpm-cli/src/runtime_version.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing fixes
  HARNESS_RELEASE_BAND_3_MANUAL_TESTS.md
  crates/agentpm-cli/src/harness_engine.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Version update
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Sepc and tasks clarification
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: none

More tasks updates
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 9
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/approval.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  crates/agentpm-cli/src/harness_runtime/service.rs
  crates/agentpm-cli/src/harness_runtime/tool.rs
Due: rustfmt, clippy

Post manual-testing fixes
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 10
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
Due: rustfmt, clippy

Updates
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_runtime/approval.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/service.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing fixes
  crates/agentpm-cli/src/harness_engine.rs
Due: rustfmt, clippy

Release Band 4
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Milestone 12
  crates/agentpm-cli/fixtures/harness/knowledge/embedding_provider_request.json
  crates/agentpm-cli/fixtures/harness/knowledge/embedding_provider_result.json
  crates/agentpm-cli/fixtures/harness/knowledge/knowledge_hooks.json
  crates/agentpm-cli/fixtures/harness/knowledge/knowledge_runtime_request.json
  crates/agentpm-cli/fixtures/harness/knowledge/knowledge_runtime_result.json
  crates/agentpm-cli/fixtures/harness/knowledge/typed_failures.json
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/knowledge.rs
  crates/agentpm-cli/src/commands/memory.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/action.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/knowledge.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  crates/agentpm-cli/src/harness_runtime/service.rs
  crates/agentpm-cli/src/harness_runtime/tool.rs
  crates/agentpm-cli/src/manifest.rs
  crates/agentpm-cli/src/runner.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing fixes
  HARNESS_M12_MANUAL_TESTS.md
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/action.rs
  crates/agentpm-cli/src/harness_runtime/knowledge.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 13
  crates/agentpm-cli/src/harness_runtime/knowledge.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.(rs|toml)$
