Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (changed files)
        entry: bash -lc 'rustfmt --edition 2024 "$@"'
        language: system
        types: [rust]

      # Heavier: run clippy on push (workspace-wide, fail on warnings)
      - id: clippy
        name: clippy (workspace)
        entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'        # only run if Rust/Cargo files changed

      - id: rustfmt-all
        name: rustfmt (entire workspace)
        entry: cargo fmt --all
        language: system
        pass_filenames: false
        stages: [manual]   # wonâ€™t run automatically

fmt --all
  crates/agentpm-cli/src/commands/install.rs
Due: rustfmt, clippy

Up version
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-sdk/Cargo.toml
Due: clippy

tar verification checks
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

fmt all
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Fix
  crates/agentpm-cli/src/auth.rs
Due: rustfmt, clippy

Fix
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Update init command to not produce as much for tool kind
  crates/agentpm-cli/assets/templates/tool_agent.json.tpl
Due: none

Allow concise versions and */latest versions
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/semver/update.rs
  schemas/agentpm.manifest.schema.json
Due: rustfmt, clippy

Add new environment section in manifest schema
  schemas/agentpm.manifest.schema.json
Due: none

Remove sensitive
  schemas/agentpm.manifest.schema.json
Due: none

vars propertyNames pattern
  schemas/agentpm.manifest.schema.json
Due: none

Required default false
  schemas/agentpm.manifest.schema.json
Due: none

Update schema readme for environment
  schemas/README.md
Due: none

Up version
  crates/agentpm-cli/src/semver/types.rs
Due: rustfmt, clippy

Up timeouts significantly
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-sdk/Cargo.toml
  crates/agentpm-sdk/src/client.rs
Due: rustfmt, clippy

Support optional readmes and licenses
  crates/agentpm-cli/src/commands/publish.rs
  schemas/agentpm.manifest.schema.json
Due: rustfmt, clippy

Up versions
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-sdk/Cargo.toml
Due: clippy

cargo fmt all
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Update readme to iclude readme and license
  schemas/README.md
Due: none

warn_if_runtime_mismatch on install
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/io/download.rs
  crates/agentpm-sdk/Cargo.toml
  crates/agentpm-sdk/src/models/install.rs
Due: rustfmt, clippy

Respect quiet flag
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/io/download.rs
Due: rustfmt, clippy

Agent Files
  AGENTS.md
  CLAUDE.md
Due: none

Updated agent files
  AGENTS.md
  CLAUDE.md
Due: none

Agents update
  AGENTS.md
Due: none

Milestone 1
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/runner.rs
  specs/2026-05-03-interop-ecosystem-glue/review-checklist.md
  specs/2026-05-03-interop-ecosystem-glue/spec.md
  specs/2026-05-03-interop-ecosystem-glue/tasks.md
  specs/2026-05-03-interop-ecosystem-glue/test-plan.md
Due: rustfmt, clippy

Milestone 2
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/commands/run.rs
  crates/agentpm-cli/src/main.rs
Due: rustfmt, clippy

Milestone 3
  crates/agentpm-cli/src/adapter.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/runner.rs
Due: rustfmt, clippy

Milestone 4
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/commands/serve.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/runner.rs
Due: rustfmt, clippy

Milestone 5
  crates/agentpm-cli/assets/templates/skill_export/SKILL.md.tpl
  crates/agentpm-cli/assets/templates/skill_export/examples.md.tpl
  crates/agentpm-cli/assets/templates/skill_export/run.sh.tpl
  crates/agentpm-cli/assets/templates/skill_export/tool-contract.md.tpl
  crates/agentpm-cli/src/assets.rs
  crates/agentpm-cli/src/commands/export.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/main.rs
Due: rustfmt, clippy

Milestone 5 Updates - tightned generated files structure
  crates/agentpm-cli/assets/templates/skill_export/SKILL.md.tpl
  crates/agentpm-cli/assets/templates/skill_export/examples.md.tpl
  crates/agentpm-cli/assets/templates/skill_export/tool-contract.md.tpl
  crates/agentpm-cli/src/commands/export.rs
Due: rustfmt, clippy

Add skills/ to gitignore
  .gitignore
Due: none

README update
  README.md
  crates/agentpm-cli/src/commands/export.rs
Due: rustfmt, clippy

Version update
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-sdk/Cargo.toml
Due: clippy

release.yml update
  .github/workflows/release.yml
Due: none

Phase 2 Blog Brief
  specs/2026-05-03-interop-ecosystem-glue/blog-brief.md
Due: none

Spec+ Files
  specs/2026-05-11-agents-as-first-class-citizens/review-checklist.md
  specs/2026-05-11-agents-as-first-class-citizens/spec.md
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
  specs/2026-05-11-agents-as-first-class-citizens/test-plan.md
Due: none

File updates
  specs/2026-05-11-agents-as-first-class-citizens/review-checklist.md
  specs/2026-05-11-agents-as-first-class-citizens/spec.md
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
  specs/2026-05-11-agents-as-first-class-citizens/test-plan.md
Due: none

Add key decisions section
  specs/2026-05-11-agents-as-first-class-citizens/spec.md
Due: none
