Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

rustfmt:
  name: rustfmt (changed files)
  entry: bash -lc 'rustfmt --edition 2024 "$@"'
  language: system

clippy:
  name: clippy (workspace)
  entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

Update
  specs/2026-07-19-memory-blueprints/review-checklist.md
  specs/2026-07-19-memory-blueprints/spec.md
  specs/2026-07-19-memory-blueprints/tasks.md
  specs/2026-07-19-memory-blueprints/test-plan.md
Due: none

Milestone 1
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/manifest.rs
  schemas/agentpm.manifest.schema.json
Due: rustfmt, clippy

Milestone 2
  crates/agentpm-cli/src/manifest.rs
Due: rustfmt, clippy

Milestone 3
  crates/agentpm-cli/src/commands/memory.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/manifest.rs
Due: rustfmt, clippy

Update
  crates/agentpm-cli/src/commands/memory.rs
  crates/agentpm-cli/src/manifest.rs
  specs/2026-07-19-memory-blueprints/spec.md
Due: rustfmt, clippy

Fix
  crates/agentpm-cli/src/commands/memory.rs
  crates/agentpm-cli/src/manifest.rs
  specs/2026-07-19-memory-blueprints/spec.md
Due: rustfmt, clippy

Milestone 4
  crates/agentpm-cli/src/commands/memory.rs
  specs/2026-07-19-memory-blueprints/tasks.md
Due: rustfmt, clippy

Milestone 5
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/memory.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/io/download.rs
  crates/agentpm-cli/src/manifest.rs
  crates/agentpm-cli/src/semver/adapt.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-sdk/src/models/install.rs
Due: rustfmt, clippy

Milestone 6
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Milestone 7
  crates/agentpm-cli/assets/templates/memory_README.md.tpl
  crates/agentpm-cli/assets/templates/memory_agent.json.tpl
  crates/agentpm-cli/assets/templates/memory_user-preference.schema.json.tpl
  crates/agentpm-cli/src/assets.rs
  crates/agentpm-cli/src/commands/init.rs
Due: rustfmt, clippy

Milestone 8
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/workspace.rs
Due: rustfmt, clippy

Milestones updates
  specs/2026-07-19-memory-blueprints/tasks.md
Due: none

Milestone 13
  Cargo.lock
  README.md
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/mod.rs
Due: rustfmt, clippy

Update tasks
  specs/2026-07-19-memory-blueprints/tasks.md
Due: none

Tasks update
  specs/2026-07-19-memory-blueprints/tasks.md
Due: none

Blog Brief
  specs/2026-07-19-memory-blueprints/blog-brief.md
Due: none

Initial spec files
  specs/2026-08-01-instruction-profiles/review-checklist.md
  specs/2026-08-01-instruction-profiles/spec.md
  specs/2026-08-01-instruction-profiles/tasks.md
  specs/2026-08-01-instruction-profiles/test-plan.md
Due: none

Milestone 1
  crates/agentpm-cli/src/manifest.rs
  schemas/agentpm.manifest.schema.json
Due: rustfmt, clippy

Milestone 2
  crates/agentpm-cli/assets/templates/profile_README.md.tpl
  crates/agentpm-cli/assets/templates/profile_agent.json.tpl
  crates/agentpm-cli/src/assets.rs
  crates/agentpm-cli/src/commands/init.rs
  crates/agentpm-cli/src/commands/lint.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/manifest.rs
Due: rustfmt, clippy

Milestone 3
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/io/download.rs
  crates/agentpm-cli/src/semver/adapt.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-sdk/src/models/install.rs
Due: rustfmt, clippy

Milestone 4
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/manifest.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/workspace.rs
Due: rustfmt, clippy

Milestone 5
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/manifest.rs
Due: rustfmt, clippy

Post manual-testing fixes
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Tasks update
  specs/2026-08-01-instruction-profiles/tasks.md
Due: none

Milestone 7
  crates/agentpm-cli/src/commands/new.rs
Due: rustfmt, clippy

Post manual-testing fix
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/workspace.rs
Due: rustfmt, clippy

Update tasks
  specs/2026-08-01-instruction-profiles/tasks.md
Due: none

Milestone 11
  Cargo.lock
  README.md
  crates/agentpm-cli/Cargo.toml
Due: clippy

BLog Brief
  specs/2026-08-01-instruction-profiles/blog-brief.md
Due: none

Initial spec files
  specs/2026-08-09-loops-agent-bindings/review-checklist.md
  specs/2026-08-09-loops-agent-bindings/spec.md
  specs/2026-08-09-loops-agent-bindings/tasks.md
  specs/2026-08-09-loops-agent-bindings/test-plan.md
Due: none

Milestone 1
  crates/agentpm-cli/src/manifest.rs
  schemas/agentpm.manifest.schema.json
  specs/2026-08-09-loops-agent-bindings/review-checklist.md
  specs/2026-08-09-loops-agent-bindings/spec.md
  specs/2026-08-09-loops-agent-bindings/tasks.md
Due: rustfmt, clippy

Milestone 2
  crates/agentpm-cli/assets/templates/loop_README.md.tpl
  crates/agentpm-cli/assets/templates/loop_agent.json.tpl
  crates/agentpm-cli/src/assets.rs
  crates/agentpm-cli/src/commands/init.rs
  crates/agentpm-cli/src/commands/lint.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/manifest.rs
Due: rustfmt, clippy

Update post manual testing
  crates/agentpm-cli/assets/templates/loop_agent.json.tpl
  crates/agentpm-cli/src/commands/init.rs
Due: rustfmt, clippy

Milestone 4
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/semver/update.rs
  crates/agentpm-cli/src/workspace.rs
Due: rustfmt, clippy

Milestone 5
  AGENTS.md
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/manifest.rs
Due: rustfmt, clippy

Post manual-testing updates
  crates/agentpm-cli/src/commands/install.rs
Due: rustfmt, clippy

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.(rs|toml)$
