Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (changed files)
        entry: bash -lc 'rustfmt --edition 2024 "$@"'
        language: system
        types: [rust]

      # Heavier: run clippy on push (workspace-wide, fail on warnings)
      - id: clippy
        name: clippy (workspace)
        entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'        # only run if Rust/Cargo files changed

      - id: rustfmt-all
        name: rustfmt (entire workspace)
        entry: cargo fmt --all
        language: system
        pass_filenames: false
        stages: [manual]   # wonâ€™t run automatically

Test fix
  crates/agentpm-cli/src/harness_runtime/tool.rs
Due: rustfmt, clippy

Test fix
  crates/agentpm-cli/src/harness_runtime/mcp.rs
Due: rustfmt, clippy

Tasks update
  specs/2026-08-20-harness/tasks.md
Due: none

Task update
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 21
  README.md
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tui.rs
  crates/agentpm-cli/src/commands/harness/tui/render.rs
  crates/agentpm-cli/src/commands/harness/tui/state.rs
  crates/agentpm-cli/src/harness_config.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Release Band 10
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Blog Brief
  specs/2026-08-20-harness/blog-brief.md
Due: none

Initial spec files
  specs/2026-10-06-immediate-hardening/review-checklist.md
  specs/2026-10-06-immediate-hardening/spec.md
  specs/2026-10-06-immediate-hardening/tasks.md
  specs/2026-10-06-immediate-hardening/test-plan.md
Due: none

Updates
  specs/2026-10-06-immediate-hardening/tasks.md
Due: none

Tasks updates
  specs/2026-10-06-immediate-hardening/tasks.md
Due: none

Post-context updates
  specs/2026-10-06-immediate-hardening/review-checklist.md
  specs/2026-10-06-immediate-hardening/spec.md
  specs/2026-10-06-immediate-hardening/tasks.md
  specs/2026-10-06-immediate-hardening/test-plan.md
Due: none

Updates
  specs/2026-10-06-immediate-hardening/review-checklist.md
  specs/2026-10-06-immediate-hardening/spec.md
  specs/2026-10-06-immediate-hardening/tasks.md
  specs/2026-10-06-immediate-hardening/test-plan.md
Due: none

Updates + release band creation
  specs/2026-10-06-immediate-hardening/review-checklist.md
  specs/2026-10-06-immediate-hardening/spec.md
  specs/2026-10-06-immediate-hardening/tasks.md
  specs/2026-10-06-immediate-hardening/test-plan.md
Due: none

Initial stage 2 spec docs
  specs/2026-10-09-category-hardening/assets/detail-layered.png
  specs/2026-10-09-category-hardening/assets/detail-structure.png
  specs/2026-10-09-category-hardening/assets/explore-layered.png
  specs/2026-10-09-category-hardening/assets/landing-layered.png
  specs/2026-10-09-category-hardening/assets/landing-structure.png
  specs/2026-10-09-category-hardening/review-checklist.md
  specs/2026-10-09-category-hardening/spec.md
  specs/2026-10-09-category-hardening/tasks.md
  specs/2026-10-09-category-hardening/test-plan.md
Due: none

Stage 1 and 2 updates
  specs/2026-10-06-immediate-hardening/review-checklist.md
  specs/2026-10-06-immediate-hardening/spec.md
  specs/2026-10-06-immediate-hardening/tasks.md
  specs/2026-10-06-immediate-hardening/test-plan.md
  specs/2026-10-09-category-hardening/review-checklist.md
  specs/2026-10-09-category-hardening/spec.md
  specs/2026-10-09-category-hardening/tasks.md
  specs/2026-10-09-category-hardening/test-plan.md
Due: none
