Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (changed files)
        entry: bash -lc 'rustfmt --edition 2024 "$@"'
        language: system
        types: [rust]

      # Heavier: run clippy on push (workspace-wide, fail on warnings)
      - id: clippy
        name: clippy (workspace)
        entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'        # only run if Rust/Cargo files changed

      - id: rustfmt-all
        name: rustfmt (entire workspace)
        entry: cargo fmt --all
        language: system
        pass_filenames: false
        stages: [manual]   # wonâ€™t run automatically

Milestone 12 (pre-publish)
  specs/2026-06-19-skills-as-first-class-artifacts/spec.md
Due: none

Milestone 12 (pre agent publish)
  specs/2026-06-19-skills-as-first-class-artifacts/tasks.md
Due: none

Blog Brief
  specs/2026-06-19-skills-as-first-class-artifacts/blog-brief.md
Due: none

Initial spec docs
  specs/2926-07-02-knowledge-base-vector-context-artifacts/review-checklist.md
  specs/2926-07-02-knowledge-base-vector-context-artifacts/spec.md
  specs/2926-07-02-knowledge-base-vector-context-artifacts/tasks.md
  specs/2926-07-02-knowledge-base-vector-context-artifacts/test-plan.md
Due: none

Update files to include mode logic
  specs/2926-07-02-knowledge-base-vector-context-artifacts/review-checklist.md
  specs/2926-07-02-knowledge-base-vector-context-artifacts/spec.md
  specs/2926-07-02-knowledge-base-vector-context-artifacts/tasks.md
  specs/2926-07-02-knowledge-base-vector-context-artifacts/test-plan.md
Due: none

Updates
  specs/2926-07-02-knowledge-base-vector-context-artifacts/spec.md
  specs/2926-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Update
  specs/2026-07-02-knowledge-base-vector-context-artifacts/review-checklist.md
  specs/2026-07-02-knowledge-base-vector-context-artifacts/spec.md
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
  specs/2026-07-02-knowledge-base-vector-context-artifacts/test-plan.md
Due: none

Update
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Milestone 1
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/manifest.rs
  schemas/agentpm.manifest.schema.json
Due: rustfmt, clippy

Milestone 2
  crates/agentpm-cli/assets/templates/knowledge_context_README.md.tpl
  crates/agentpm-cli/assets/templates/knowledge_context_agent.json.tpl
  crates/agentpm-cli/assets/templates/knowledge_vector_README.md.tpl
  crates/agentpm-cli/assets/templates/knowledge_vector_agent.json.tpl
  crates/agentpm-cli/src/assets.rs
  crates/agentpm-cli/src/commands/init.rs
  crates/agentpm-cli/src/commands/lint.rs
Due: rustfmt, clippy

Spec and tasks updates
  specs/2026-07-02-knowledge-base-vector-context-artifacts/spec.md
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

More updates
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Milestone 3
  crates/agentpm-cli/src/commands/knowledge.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/main.rs
  knowledge-init-test/README.md
  knowledge-init-test/knowledge/chunks.jsonl
  knowledge-init-test/knowledge/embeddings/default.f32
  knowledge-init-test/knowledge/indexes/default/metadata.json
  knowledge-init-test/knowledge/sources.jsonl
  specs/2026-07-02-knowledge-base-vector-context-artifacts/spec.md
Due: rustfmt, clippy

Remove test files
  knowledge-init-test/README.md
  knowledge-init-test/knowledge/chunks.jsonl
  knowledge-init-test/knowledge/embeddings/default.f32
  knowledge-init-test/knowledge/indexes/default/metadata.json
  knowledge-init-test/knowledge/sources.jsonl
Due: none

Tasks update
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Milestone 4
  crates/agentpm-cli/src/commands/knowledge.rs
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Update tasks
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Milestone 6
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/io/download.rs
  crates/agentpm-cli/src/semver/adapt.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/workspace.rs
  crates/agentpm-sdk/src/models/install.rs
Due: rustfmt, clippy

Added Milestone 6a for findings from manual testing
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Milestone 6a
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/workspace.rs
Due: rustfmt, clippy

Swap Milestone 10 and 11 order
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Milestone 7
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/knowledge.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/workspace.rs
  scripts/__pycache__/knowledge_openai_embeddings.cpython-311.pyc
  scripts/knowledge_openai_embeddings.py
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: rustfmt, clippy

Milestone 7a
  crates/agentpm-cli/src/commands/knowledge.rs
  knowledge-embedding-command-manual-test.md
  scripts/__pycache__/knowledge_openai_embeddings.cpython-311.pyc
  scripts/knowledge_openai_embeddings.py
Due: rustfmt, clippy

Update
  knowledge-embedding-command-manual-test.md
Due: none

Tasks Update
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Milestone 10
  Cargo.lock
  README.md
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/manifest.rs
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: rustfmt, clippy

Update Milestone 11 tasks
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Added Milestones
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Add another milestone
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Milestone 12
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/semver/types.rs
  specs/2026-07-02-knowledge-base-vector-context-artifacts/test-plan.md
Due: rustfmt, clippy

Version update
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Add milestone
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Add tasks
  specs/2026-07-02-knowledge-base-vector-context-artifacts/tasks.md
Due: none

Blog brief
  specs/2026-07-02-knowledge-base-vector-context-artifacts/blog-brief.md
Due: none

Initial spec files
  specs/2026-07-memory-blueprints/review-checklist.md
  specs/2026-07-memory-blueprints/spec.md
  specs/2026-07-memory-blueprints/tasks.md
  specs/2026-07-memory-blueprints/test-plan.md
Due: none

Updates
  specs/2026-07-memory-blueprints/spec.md
  specs/2026-07-memory-blueprints/tasks.md
Due: none
