Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

rustfmt:
  name: rustfmt (changed files)
  entry: bash -lc 'rustfmt --edition 2024 "$@"'
  language: system

clippy:
  name: clippy (workspace)
  entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

relationships -> roots
  specs/2026-05-11-agents-as-first-class-citizens/spec.md
Due: none

Milestone 1
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/manifest.rs
  schemas/agentpm.manifest.schema.json
Due: rustfmt, clippy

Milestone 2
  crates/agentpm-cli/assets/templates/agent.json.tpl
  crates/agentpm-cli/src/manifest.rs
  schemas/README.md
Due: rustfmt, clippy

Milestone 3
  crates/agentpm-cli/src/semver/adapt.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-sdk/src/models/install.rs
  crates/agentpm-sdk/src/types.rs
Due: rustfmt, clippy

Milestone 4
  specs/2026-05-11-agents-as-first-class-citizens/milestone-4-migration-plan.md
Due: none

Milestone 5
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Milestone 6
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Milestone 7
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/manifest.rs
  crates/agentpm-sdk/src/client.rs
Due: rustfmt, clippy

Milestone 8
  crates/agentpm-cli/src/adapter.rs
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/manifest.rs
  crates/agentpm-cli/src/runner.rs
  crates/agentpm-cli/src/semver/types.rs
Due: rustfmt, clippy

Milestone 10
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/io/download.rs
  crates/agentpm-cli/src/semver/types.rs
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
Due: rustfmt, clippy

Milestone 10a
  crates/agentpm-cli/src/commands/install.rs
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
Due: rustfmt, clippy

Add tasks for milestone 14
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
Due: none

Milestone 14
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
Due: none

Milestone 15
  README.md
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
Due: none

Update tasks
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
Due: none

Milestone 16
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-sdk/Cargo.toml
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
Due: clippy

Update default scope
  crates/agentpm-cli/src/commands/login.rs
Due: rustfmt, clippy

Revert
  crates/agentpm-cli/src/commands/login.rs
Due: rustfmt, clippy

Tasks update
  specs/2026-05-11-agents-as-first-class-citizens/tasks.md
Due: none

Phase 3 Blog Brief
  specs/2026-05-11-agents-as-first-class-citizens/blog-brief.md
Due: none

Imitial md files
  specs/2026-05-30-workflow-templates/review-checklist.md
  specs/2026-05-30-workflow-templates/spec.md
  specs/2026-05-30-workflow-templates/tasks.md
  specs/2026-05-30-workflow-templates/test-plan.md
Due: none

Update
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

More tasks updates
  specs/2026-05-30-workflow-templates/spec.md
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

More tasks updates
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

Milestone 1
  crates/agentpm-cli/assets/templates/template_generated_README.md.tpl
  crates/agentpm-cli/assets/templates/template_package_agent.json.tpl
  crates/agentpm-cli/src/assets.rs
  crates/agentpm-cli/src/commands/init.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/manifest.rs
  schemas/README.md
  schemas/agentpm.manifest.schema.json
  specs/2026-05-30-workflow-templates/spec.md
  specs/2026-05-30-workflow-templates/tasks.md
  template/README.md
Due: rustfmt, clippy

Milestone 2
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/manifest.rs
  specs/2026-05-30-workflow-templates/tasks.md
Due: rustfmt, clippy

Fix
  crates/agentpm-cli/src/io/download.rs
  crates/agentpm-cli/src/semver/adapt.rs
  crates/agentpm-sdk/src/models/install.rs
Due: rustfmt, clippy

Tasks update
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

Milestone 3
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/io/download.rs
Due: rustfmt, clippy

Fix test
  crates/agentpm-cli/src/io/download.rs
Due: rustfmt, clippy

Added 4a to tasks
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

Milestone 4
  crates/agentpm-cli/assets/templates/template_generated_README.md.tpl
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/io/download.rs
  crates/agentpm-cli/src/main.rs
  crates/agentpm-cli/src/manifest.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/workspace.rs
  crates/agentpm-sdk/src/models/install.rs
  specs/2026-05-30-workflow-templates/spec.md
  specs/2026-05-30-workflow-templates/tasks.md
  specs/2026-05-30-workflow-templates/test-plan.md
Due: rustfmt, clippy

Milestone 4 updates/fixes
  crates/agentpm-cli/assets/templates/template_generated_README.md.tpl
  crates/agentpm-cli/src/commands/init.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/workspace.rs
  template/agents/reviewer.agent.json
  template/agents/triage.agent.json
Due: rustfmt, clippy

Milestone 4a
  README.md
  crates/agentpm-cli/src/commands/mod.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/workspace.rs
Due: rustfmt, clippy

Milestone 4b
  crates/agentpm-cli/src/commands/new.rs
  template/README.md
Due: rustfmt, clippy

Update Milestone order
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.(rs|toml)$
