Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

rustfmt:
  name: rustfmt (changed files)
  entry: bash -lc 'rustfmt --edition 2024 "$@"'
  language: system

clippy:
  name: clippy (workspace)
  entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

Add more docs tasks
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

Milestone 6
  README.md
  crates/agentpm-cli/src/commands/new.rs
  specs/2026-05-30-workflow-templates/tasks.md
Due: rustfmt, clippy

Milestone 7
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-sdk/Cargo.toml
  specs/2026-05-30-workflow-templates/release-brief.md
  specs/2026-05-30-workflow-templates/tasks.md
Due: clippy

Update tasks
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

Milestone 8 task updates + added Milestone 9
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

More tasks updates
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

Tasks update
  specs/2026-05-30-workflow-templates/tasks.md
Due: none

Blog Brief
  specs/2026-05-30-workflow-templates/blog-brief.md
Due: none

Phase 5 spec files
  specs/2026-06-09-private-namespaces-early-pricing/review-checklist.md
  specs/2026-06-09-private-namespaces-early-pricing/spec.md
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
  specs/2026-06-09-private-namespaces-early-pricing/test-plan.md
Due: none

Tasks update
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: none

Update search milestone tasks
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: none

Update search milestone tasks
  specs/2026-06-09-private-namespaces-early-pricing/spec.md
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: none

Milestone 1 tasks updates
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: none

Milestone 7 tasks updates
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: none

Milestone order update
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: none

Milestone 4
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/publish.rs
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: rustfmt, clippy

Tasks update
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
  specs/2026-06-09-private-namespaces-early-pricing/test-plan.md
Due: none

Updates
  template/README.md
  template/agents/reviewer.agent.json
  template/agents/triage.agent.json
Due: none

Update tasks
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: none

Version update
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Add Milestone 9
  specs/2026-06-09-private-namespaces-early-pricing/tasks.md
Due: none

Phase 5 Blog Brief
  specs/2026-06-09-private-namespaces-early-pricing/blog-brief.md
Due: none

Initial spec docs
  specs/2026-06-19-skills-as-first-class-artifacts/review-checklist.md
  specs/2026-06-19-skills-as-first-class-artifacts/spec.md
  specs/2026-06-19-skills-as-first-class-artifacts/tasks.md
  specs/2026-06-19-skills-as-first-class-artifacts/test-plan.md
Due: none

Update tasks
  specs/2026-06-19-skills-as-first-class-artifacts/tasks.md
Due: none

Milestone 1
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/manifest.rs
  schemas/agentpm.manifest.schema.json
Due: rustfmt, clippy

Milestone 2
  crates/agentpm-cli/assets/templates/skill_agent.json.tpl
  crates/agentpm-cli/assets/templates/skill_init_SKILL.md.tpl
  crates/agentpm-cli/src/assets.rs
  crates/agentpm-cli/src/commands/init.rs
  crates/agentpm-cli/src/commands/mod.rs
Due: rustfmt, clippy

Milestone 3
  crates/agentpm-cli/src/commands/publish.rs
  crates/agentpm-cli/src/manifest.rs
Due: rustfmt, clippy

Milestone 5
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/commands/new.rs
  crates/agentpm-cli/src/io/download.rs
  crates/agentpm-cli/src/semver/adapt.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/workspace.rs
  crates/agentpm-sdk/src/models/install.rs
Due: rustfmt, clippy

Post-manual testing updates
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/semver/types.rs
  crates/agentpm-cli/src/semver/update.rs
Due: rustfmt, clippy

Milestone 6
  crates/agentpm-cli/src/commands/export.rs
  crates/agentpm-cli/src/commands/install.rs
  crates/agentpm-cli/src/runner.rs
Due: rustfmt, clippy

Tasks updates
  specs/2026-05-30-workflow-templates/tasks.md
  specs/2026-06-19-skills-as-first-class-artifacts/tasks.md
Due: none

Milestone 8a
  crates/agentpm-cli/src/commands/publish.rs
Due: rustfmt, clippy

Milestone 9
  crates/agentpm-cli/src/commands/install.rs
  specs/2026-06-19-skills-as-first-class-artifacts/tasks.md
Due: rustfmt, clippy

Milestone 10
  README.md
  schemas/README.md
Due: none

MIlestone 11
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/export.rs
Due: rustfmt, clippy

Fix
  crates/agentpm-cli/src/commands/install.rs
Due: rustfmt, clippy

Tasks update
  specs/2026-06-19-skills-as-first-class-artifacts/tasks.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  clippy: any of: \.(rs|toml)$
