Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (changed files)
        entry: bash -lc 'rustfmt --edition 2024 "$@"'
        language: system
        types: [rust]

      # Heavier: run clippy on push (workspace-wide, fail on warnings)
      - id: clippy
        name: clippy (workspace)
        entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'        # only run if Rust/Cargo files changed

      - id: rustfmt-all
        name: rustfmt (entire workspace)
        entry: cargo fmt --all
        language: system
        pass_filenames: false
        stages: [manual]   # wonâ€™t run automatically

Release Band 5
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-sdk/Cargo.toml
Due: clippy

Fixes
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_observability.rs
Due: rustfmt, clippy

Tasks update
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: none

More tasks updates
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 14a
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/manifest.rs
  specs/2026-08-20-harness/review-checklist.md
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests
  HARNESS_M14A_MANUAL_TESTS.md
Due: none

Milestone 14b
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  specs/2026-08-20-harness/review-checklist.md
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 14c
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/effective_phase.rs
  crates/agentpm-cli/src/harness_engine/knowledge_actions.rs
  crates/agentpm-cli/src/harness_engine/memory_actions.rs
  crates/agentpm-cli/src/harness_engine/observability.rs
  crates/agentpm-cli/src/harness_engine/tests.rs
  crates/agentpm-cli/src/harness_engine/validation.rs
  crates/agentpm-cli/src/harness_runtime/action.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing fixes
  HARNESS_M14B_M14C_MANUAL_TESTS.md
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/effective_phase.rs
  crates/agentpm-cli/src/harness_engine/tests.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  specs/2026-08-20-harness/review-checklist.md
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Tasks update
  specs/2026-08-20-harness/review-checklist.md
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 14c.1
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing fixes
  HARNESS_M14C1_MANUAL_TESTS.md
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
Due: rustfmt, clippy

Milestone 14d
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/memory_actions.rs
  crates/agentpm-cli/src/harness_engine/tests.rs
  crates/agentpm-cli/src/harness_engine/validation.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Tests
  HARNESS_M14D_MANUAL_TESTS.md
Due: none

Milestone 14e
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/memory_actions.rs
  crates/agentpm-cli/src/harness_engine/tests.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Refactor
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/custom_memory.rs
  crates/agentpm-cli/src/commands/harness/host_services.rs
  crates/agentpm-cli/src/commands/harness/runtime_snapshot.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/lifecycle.rs
  crates/agentpm-cli/src/harness_engine/tests.rs
  crates/agentpm-cli/src/harness_engine/tests/core.rs
  crates/agentpm-cli/src/harness_engine/tests/hooks.rs
  crates/agentpm-cli/src/harness_engine/tests/memory.rs
  crates/agentpm-cli/src/harness_engine/tests/mod.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  crates/agentpm-cli/src/harness_runtime/memory/custom.rs
  crates/agentpm-cli/src/harness_runtime/memory/semantic.rs
  crates/agentpm-cli/src/harness_runtime/memory/tests.rs
Due: rustfmt, clippy

Manual tests
  HARNESS_M14E_MANUAL_TESTS.md
Due: none

Milestone 14f
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/effective_phase.rs
  crates/agentpm-cli/src/harness_engine/memory_actions.rs
  crates/agentpm-cli/src/harness_engine/tests/memory.rs
  crates/agentpm-cli/src/harness_engine/tests/mod.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests
  HARNESS_M14F_MANUAL_TESTS.md
Due: none

Milestone 14g
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/harness_config.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/effective_phase.rs
  crates/agentpm-cli/src/harness_engine/lifecycle.rs
  crates/agentpm-cli/src/harness_engine/observability.rs
  crates/agentpm-cli/src/harness_engine/persistence_review.rs
  crates/agentpm-cli/src/harness_engine/tests/core.rs
  crates/agentpm-cli/src/harness_engine/tests/memory.rs
  crates/agentpm-cli/src/harness_engine/validation.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/action.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  crates/agentpm-cli/src/harness_runtime/tool.rs
  schemas/agentpm.harness.schema.json
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests + tasks updates
  HARNESS_M14G_MANUAL_TESTS.md
  specs/2026-08-20-harness/tasks.md
Due: none

Tasks updates
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 14h
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/harness_engine/tests/memory.rs
  crates/agentpm-cli/src/harness_engine/validation.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests
  HARNESS_M14H_MANUAL_TESTS.md
Due: none

Tasks update
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 15
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/runtime_snapshot.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/effective_phase.rs
  crates/agentpm-cli/src/harness_engine/lifecycle.rs
  crates/agentpm-cli/src/harness_engine/memory_actions.rs
  crates/agentpm-cli/src/harness_engine/memory_lifecycle.rs
  crates/agentpm-cli/src/harness_engine/tests/memory.rs
  crates/agentpm-cli/src/harness_engine/tests/mod.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  crates/agentpm-cli/src/harness_runtime/memory/tests.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  crates/agentpm-cli/src/manifest.rs
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
  specs/2026-08-20-harness/test-plan.md
Due: rustfmt, clippy

Post manual-testing fixes
  HARNESS_M15_MANUAL_TESTS.md
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/memory_lifecycle.rs
  crates/agentpm-cli/src/harness_engine/tests/memory.rs
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
  specs/2026-08-20-harness/test-plan.md
Due: rustfmt, clippy

Milestone 16
  crates/agentpm-cli/src/commands/harness/custom_memory.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/memory_lifecycle.rs
  crates/agentpm-cli/src/harness_runtime/memory.rs
  crates/agentpm-cli/src/harness_runtime/memory/custom.rs
  crates/agentpm-cli/src/harness_runtime/memory/semantic.rs
  crates/agentpm-cli/src/harness_runtime/memory/tests.rs
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 16a
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing fixes
  HARNESS_M16A_MANUAL_TESTS.md
  crates/agentpm-cli/src/harness_runtime/model.rs
Due: rustfmt, clippy

Milestone 16b
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/memory_lifecycle.rs
  crates/agentpm-cli/src/harness_engine/observability.rs
  crates/agentpm-cli/src/harness_engine/persistence_review.rs
  crates/agentpm-cli/src/harness_engine/tests/core.rs
  crates/agentpm-cli/src/harness_engine/tests/memory.rs
  crates/agentpm-cli/src/harness_engine/tests/mod.rs
  crates/agentpm-cli/src/harness_runtime/action.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing updates
  HARNESS_M16B_MANUAL_TESTS.md
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 16c
  HARNESS_M16B_MANUAL_TESTS.md
  crates/agentpm-cli/src/harness_engine/tests/memory.rs
  crates/agentpm-cli/src/harness_engine/validation.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  crates/agentpm-cli/src/manifest.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-testing updates
  HARNESS_M16B_MANUAL_TESTS.md
  crates/agentpm-cli/src/adapter.rs
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/serve.rs
  crates/agentpm-cli/src/harness_engine/validation.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy
