Repository agentpm-dev/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt (changed files)
        entry: bash -lc 'rustfmt --edition 2024 "$@"'
        language: system
        types: [rust]

      # Heavier: run clippy on push (workspace-wide, fail on warnings)
      - id: clippy
        name: clippy (workspace)
        entry: bash -lc 'cargo clippy --workspace --all-targets -- -D warnings'
        language: system
        pass_filenames: false
        files: '\.(rs|toml)$'        # only run if Rust/Cargo files changed

      - id: rustfmt-all
        name: rustfmt (entire workspace)
        entry: cargo fmt --all
        language: system
        pass_filenames: false
        stages: [manual]   # wonâ€™t run automatically

Release Band 6
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Clippy fixes
  crates/agentpm-cli/src/harness_engine/memory_lifecycle.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
Due: rustfmt, clippy

Test fix
  crates/agentpm-cli/src/harness_runtime/tool.rs
Due: rustfmt, clippy

Milestone 17
  Cargo.lock
  README.md
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/runtime_snapshot.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/commands/serve.rs
  crates/agentpm-cli/src/harness_config.rs
  crates/agentpm-cli/src/harness_engine/lifecycle.rs
  crates/agentpm-cli/src/harness_engine/observability.rs
  crates/agentpm-cli/src/harness_engine/tests/core.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/runner.rs
  schemas/agentpm.harness.schema.json
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests
  HARNESS_M17_MANUAL_TESTS.md
Due: none

Milestone 18
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/runtime_snapshot.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/harness_config.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/effective_phase.rs
  crates/agentpm-cli/src/harness_engine/lifecycle.rs
  crates/agentpm-cli/src/harness_engine/observability.rs
  crates/agentpm-cli/src/harness_engine/persistence_review.rs
  crates/agentpm-cli/src/harness_engine/tests/core.rs
  crates/agentpm-cli/src/harness_engine/tests/hooks.rs
  crates/agentpm-cli/src/harness_engine/tests/mod.rs
  crates/agentpm-cli/src/harness_engine/validation.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_plan.rs
  crates/agentpm-cli/src/harness_runtime/action.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/mcp.rs
  crates/agentpm-cli/src/harness_runtime/mod.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  crates/agentpm-cli/src/harness_runtime/tool.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Post manual-test fixes
  HARNESS_M18_MANUAL_TESTS.md
  crates/agentpm-cli/src/harness_runtime/mcp.rs
Due: rustfmt, clippy

Release Band 7
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Tasks update
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 19a
  .gitignore
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tui.rs
  scripts/setup-harness-m19-manual.sh
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Fix
  crates/agentpm-cli/src/commands/harness/tui.rs
Due: rustfmt, clippy

Milestone 19b
  crates/agentpm-cli/src/commands/harness/tui.rs
  crates/agentpm-cli/src/commands/harness/tui/state.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_plan.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 19c
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/commands/harness/tui.rs
  crates/agentpm-cli/src/commands/harness/tui/state.rs
  crates/agentpm-cli/src/harness_config.rs
  crates/agentpm-cli/src/harness_plan.rs
  scripts/setup-harness-m19-manual.sh
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 19d
  crates/agentpm-cli/src/commands/harness/tui.rs
  crates/agentpm-cli/src/commands/harness/tui/state.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_observability.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Refactor
  crates/agentpm-cli/src/commands/harness/tui.rs
  crates/agentpm-cli/src/commands/harness/tui/render.rs
Due: rustfmt, clippy

Milestone 19e
  crates/agentpm-cli/src/commands/harness/tui.rs
  crates/agentpm-cli/src/commands/harness/tui/render.rs
  crates/agentpm-cli/src/commands/harness/tui/state.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/tests/mod.rs
  scripts/setup-harness-m19-manual.sh
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 19f
  crates/agentpm-cli/src/commands/harness/tui.rs
  crates/agentpm-cli/src/commands/harness/tui/render.rs
  crates/agentpm-cli/src/commands/harness/tui/state.rs
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Milestone 19g
  HARNESS_M19_MANUAL_TESTS.md
  crates/agentpm-cli/src/commands/harness/tui.rs
  crates/agentpm-cli/src/commands/harness/tui/render.rs
  scripts/setup-harness-m19-manual.sh
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Release Band 8
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Flaky test fix
  crates/agentpm-cli/src/harness_runtime/mcp.rs
Due: rustfmt, clippy

Milestone 20a
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/commands/harness/tui/render.rs
  crates/agentpm-cli/src/commands/harness/tui/state.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/tests/core.rs
  crates/agentpm-cli/src/harness_engine/tests/mod.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  scripts/m16b_measure_repeats.py
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests
  .gitignore
  HARNESS_M20A_MANUAL_TESTS.md
  scripts/setup-harness-m20a-manual.sh
  specs/2026-08-20-harness/tasks.md
Due: none

Milestone 20a.1
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/harness_engine.rs
  crates/agentpm-cli/src/harness_engine/lifecycle.rs
  crates/agentpm-cli/src/harness_engine/memory_lifecycle.rs
  crates/agentpm-cli/src/harness_engine/tests/core.rs
  crates/agentpm-cli/src/harness_engine/tests/hooks.rs
  crates/agentpm-cli/src/harness_engine/tests/mod.rs
  crates/agentpm-cli/src/harness_runtime/hook.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  crates/agentpm-cli/src/harness_runtime/provider.rs
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
  specs/2026-08-20-harness/test-plan.md
Due: rustfmt, clippy

Post manual-testing updates
  HARNESS_M20A_MANUAL_TESTS.md
  scripts/setup-harness-m20a-manual.sh
  specs/2026-08-20-harness/review-checklist.md
  specs/2026-08-20-harness/tasks.md
Due: none

Release Band 9
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
Due: clippy

Milestone 20b
  .gitignore
  HARNESS_RELEASE_VERIFICATION.md
  README.md
  schemas/README.md
  scripts/harness_release_verify.py
  scripts/setup-harness-release-verification.sh
  specs/2026-08-20-harness/tasks.md
  specs/2026-08-20-harness/test-plan.md
Due: none

Manual testing + fixes
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  scripts/setup-harness-release-verification.sh
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests + fixes
  HARNESS_RELEASE_VERIFICATION.md
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/commands/new.rs
  scripts/setup-harness-release-verification.sh
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests + fixes
  HARNESS_RELEASE_VERIFICATION.md
  crates/agentpm-cli/src/commands/harness.rs
  crates/agentpm-cli/src/commands/harness/tests.rs
  crates/agentpm-cli/src/harness_observability.rs
  crates/agentpm-cli/src/harness_runtime/model.rs
  scripts/setup-harness-release-verification.sh
  specs/2026-08-20-harness/spec.md
  specs/2026-08-20-harness/tasks.md
Due: rustfmt, clippy

Manual tests
  HARNESS_RELEASE_VERIFICATION.md
  scripts/setup-harness-release-verification.sh
  specs/2026-08-20-harness/tasks.md
Due: none

Harness manual tests refactor
  scripts/setup-harness-m19-manual.sh
  scripts/setup-harness-m20a-manual.sh
  scripts/setup-harness-release-verification.sh
  specs/2026-08-20-harness/manual-tests/HARNESS_M12_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M14A_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M14B_M14C_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M14C1_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M14D_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M14E_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M14F_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M14G_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M14H_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M15_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M16A_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M16B_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M17_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M18_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M19_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_M20A_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_RELEASE_BAND_3_MANUAL_TESTS.md
  specs/2026-08-20-harness/manual-tests/HARNESS_RELEASE_VERIFICATION.md
  specs/2026-08-20-harness/manual-tests/README.md
  specs/2026-08-20-harness/tasks.md
  specs/2026-08-20-harness/test-plan.md
Due: none

End-to-End Hardening, and Release Verification
  Cargo.lock
  crates/agentpm-cli/Cargo.toml
  specs/2026-08-20-harness/tasks.md
Due: clippy
